<p>
  Request verb:
  <select id="type">
    <option value="GET">GET</option>
    <option value="POST">POST</option>
    <option value="DELETE">DELETE</option>
    <option value="PUT">PUT</option>
  </select>
  <%= link_to 'Click me to start the request', '#', :id => 'click-me' %>
<p>

<p>
  Verb used to retrieving the redirection: <span id="result"></span> (should be GET)
</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

<script type="text/javascript">
  $( function () {
    $( '#click-me' ).click( function ( e ) {
      e.preventDefault();

      $.ajax( {
        url: "<%= touch_me_tests_path %>"
      , type: $('#type').val()
      , success: function ( data ) {
          $( '#result' ).html( data );
        }
      , error: function ( ) {
          $( '#result' ).html( 'error' );
        }
      } );
    } );
  });
</script>